a{
    text-decoration: none;
}

.button{
    background: #ddd;
    padding: 10px 20px;
    font-size: 14px;
    display: inline-block;
    color: #333;
    border-radius: 3px;
    &.red{
        background: #f06;
        color: #fff;
    }
    &.blue{
        background: #0089ff;
        color: #fff;
    }
}

.full-width{
    width: 100%;
}
